<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script type="module">
      import { updateTimestamps } from '/static/timestamp.js';
      document.addEventListener('DOMContentLoaded', updateTimestamps);
    </script>
  </head>
  <body class="{{ bodyClass || '' }}">
    <main>
      {{ content }}
    </main>
    <div id="last-updated">Last updated: <span class="timestamp">{{date}}</span></div>
  </body>
</html>