---
title: Error - 404
url: /error.html
layout: "layout.vto"
bodyClass: "fourohfour"
---

<div class="container">
  <img src="/static/vector_me_404.png" alt="Dave Davis" class="avatar">
  <h1>Error - 404</h1>
  <p>Sorry, the page you are looking for ain't here.</p>
  <div style="margin-top: 3em">
    <a href="/">Back to the home page</a>
  </div>
</div>
