---
title: "davertron.com - Guitar"
url: "/guitar/index.html"
---

<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
</style>

<h1>Guitar Thingy</h1>

<div id="guitar-app"></div>
<script type="module" src="/static/js/guitar.js"></script>
